<div class="thanks-page">


<h1>Thank you for supporting our campaign!</h1>

<h2>Your profile has been updated:</h2>
<h3> {{first}} {{last}} </h3>
<h3> {{age}} </h3>
<h3> <a href = "/petition/signed/{{city}}">{{city}}</a> </h3>
<h3> {{email}} </h3>
 {{#if url}}
 <h3><a href="{{url}}">Home Page</a></h3>
{{/if}}

<h2>If you want to change your profile again, go <a href = "/profile/edit">here</a></h2>

<h2><a href="/petition/signed">See all the like minded people on this planet!</a></h2>
</div>

<div id="sign">
    <img src="/arton.jpg" alt="pic">
</div>