<h1>Thank you for supporting our campaign!</h1>

<h3>Your profile has been updated:</h3>
<p> {{first}} {{last}} </p>
<p> {{age}} </p>
<p> <a href = "/petition/signed/{{city}}">{{city}}</a> </p>
<p> {{email}} </p>
 {{#if url}}
 <p>

<a href="{{url}}">Home Page</a>
 </p>
{{/if}}

<h2>If you want to change your profile again, go <a href = "/profile/edit">here</a></h2>

<h2><a href="/petition/signed">See all the like minded people on this planet!</a></h2>