<div class="thanks-page">



<h1>Your profile has been updated:</h1>
<h3> Name: {{first}} {{last}} </h3>
<h3> Age: {{age}} </h3>
<h3> <a href = "/petition/signed/{{city}}">City: {{city}}</a> </h3>
<h3> Email: {{email}} </h3>
 {{#if url}}
 <h3><a href="{{url}}">Home Page: {{url}}</a></h3>
{{/if}}

<h2>If you want to change your profile again, go <a href = "/profile/edit">here</a></h2>

<h2><a href="/petition/signed">See all the like minded people on this planet!</a></h2>
</div>

<div id="sign">
    <img src="/arton.jpg" alt="pic">
</div>