 <h1>Edit your profile</h1>

 {{#if error}}
 <h3>Something went wrong, please do your changes again!</h3>
 {{/if}}

 <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <input type="text" name="firstName" placeholder="First Name" value="{{profile.first}}"/>
            <input type="text" name="lastName" placeholder="Last Name" value="{{profile.last}}" />
            <input type="text" name="email" placeholder="Email Address" value="{{profile.email}}"/>
            <input type="password" name="password" placeholder="Password" value=""/>
            <input type="number" name="age" placeholder="Age" value="{{profile.age}}"/>
            <input type="text" name="city" placeholder="City" value="{{profile.city}}"/>
            <input type="url" name="url" placeholder="Home Page" value="{{profile.url}}" />
          
            <button>Update</button>
            
        </form>