<div class="b-img">
<img src="/protest.jpg" alt="pic">
<div id="img-text">
    

   <p>We all know that <strong>amazon sucks</strong>! </p>
  <p>The working condition there is awful</p>
  <p>and it destroys local businesses </p>
    


  <h3>Lets boycott amazon and support locals...</h3>
</div>
</div>

<div class="register">

{{#if error}}
<h3>Something went wrong. Please try again!</h3>
{{/if}}

{{#if city}}

 <h1>We all in {{city}} signed this petiotion:</h1>

 {{else}}

    <h1>We all signed this petiotion:</h1>

{{/if}}



        {{#signersName}}

        <h2>
            {{#if url}}
<a href="{{url}}">{{first}} {{last}}</a>
{{else}}
{{first}} {{last}}
{{/if}} 
{{#if age}}
, {{age}}
{{/if}} 

    {{#if city}}

            <a href = "/petition/signed/{{city}}">, {{city}}</a>
            {{/if}}      
        </h2>
        
    {{/signersName}}

</div>